# ALBERI di DECISIONE binari

In [2]:
import graphlab

In [244]:
train = graphlab.SFrame('Classification/data/train.csv')

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [245]:
len(train)

891

In [246]:
train.head()

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">PassengerId</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Survived</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Pclass</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Sex</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Age</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">SibSp</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Parch</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Ticket</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Braund, Mr. Owen Harris</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">male</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">A/5 21171</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cumings, Mrs. John<br>Bradley (Florence Briggs ...</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">female</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">38.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">PC 17599</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Heikkinen, Miss. Laina</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">female</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">26.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">STON/O2. 3101282</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Futrelle, Mrs. Jacques<br>Heath (Lily May Peel) ...</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">female</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">35.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">113803</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Allen, Mr. William Henry</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">male</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">35.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">373450</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">6</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Moran, Mr. James</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">male</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">None</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">330877</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">McCarthy, Mr. Timothy J</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">male</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">54.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">17463</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Palsson, Master. Gosta<br>Leonard ...</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">male</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">349909</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">9</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Johnson, Mrs. Oscar W<br>(Elisabeth Vilhelmina ...</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">female</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">27.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">347742</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Nasser, Mrs. Nicholas<br>(Adele Achem) ...</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">female</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">14.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">237736</td>
    </tr>
</table>
<table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Fare</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Cabin</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Embarked</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7.25</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">71.2833</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">C85</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">C</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7.925</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">53.1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">C123</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8.05</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8.4583</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Q</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">51.8625</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">E46</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">21.075</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">11.1333</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">S</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">30.0708</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top"></td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">C</td>
    </tr>
</table>
[10 rows x 12 columns]<br/>
</div>

Trasformo alcuni valori per la valutazione

In [247]:
train = graphlab.SFrame.dropna(train)

In [248]:
train['Survived'] = train['Survived'].apply(lambda x : +1 if x==1 else -1)
train['Sex'] = train['Sex'].apply(lambda x : +1 if x=='female' else 0)
train['Age'] = train['Age'].apply(lambda x : +1 if x >16.0 else 0)
train['Age'] = train['Age'].apply(lambda x : +1 if x==1 else 0)
train['Has_Cabin'] = train['Cabin'].apply(lambda x : 0 if x=='' else +1 )
train['IsAlone'] = train['SibSp'].apply(lambda x : 0 if x > 0 else 1)
train['1'] = train['Pclass'].apply(lambda x : 1 if x==1  else 0)
train['2'] = train['Pclass'].apply(lambda x : 1 if x==2  else 0)
train['3'] = train['Pclass'].apply(lambda x : 1 if x==3  else 0)
train['C'] = train['Embarked'].apply(lambda x : 1 if x=='C'  else 0)
train['S'] = train['Embarked'].apply(lambda x : 1 if x=='S'  else 0)
train['Q'] = train['Embarked'].apply(lambda x : 1 if x=='Q'  else 0)

Divido il dataset in **Training** e **Test Set**

In [249]:
train_data, test_data = train.random_split(0.8, seed=1)

Divido la features *target* e le features *selezionate*

In [250]:
features = ['Sex',
            'Age',            
            'Has_Cabin',     
            'IsAlone',
            '1', #1 classe
            '2', #2 classe
            '3', #3 classe
            'C',
            'Q',
            'S'
           ]
target = 'Survived'

Ordino le colonne nel dataset

In [251]:
titanic = train_data[features + [target]]

In [252]:
len(titanic)

572

In [253]:
titanic.head()

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Sex</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Age</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Has_Cabin</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">IsAlone</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">1</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">2</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">3</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">C</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Q</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">S</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Survived</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
    </tr>
</table>
[10 rows x 11 columns]<br/>
</div>

# Algoritmo **Decision Tree**

In [256]:
def node_num_mistakes(labels):
    
    if len(labels) == 0:
        return 0
        
      # Conta il numero labels = -1
    negative = sum([x == -1 for x in labels])
    
    # Conta il numero di labels = +1
    positive = sum([x == 1 for x in labels])

    #Siccome stiamo calcolando il majority  class prediction, tutti i datapoint che non sono 
    #nel majority class sono errori
    # Ritorna il numero di errori del majority classifier. 
    return min(positive, negative)

In [257]:
# Test case 1
example_labels = graphlab.SArray([-1, -1, 1, 1, 1])
if node_num_mistakes(example_labels) == 2:
    print 'ok!'
else:
    print 'non corretto'

# Test case 2
example_labels = graphlab.SArray([-1, -1, 1, 1, 1, 1, 1])
if node_num_mistakes(example_labels) == 2:
    print 'ok!'
else:
    print 'non corretto'
    
# Test case 3
example_labels = graphlab.SArray([-1, -1, -1, -1, -1, 1, 1])
if node_num_mistakes(example_labels) == 2:
    print 'ok!'
else:
    print 'non corretto'

ok!
ok!
ok!

## Trovare la migliore feature su cui fare split

In [258]:
def best_splitting_feature(data, features, target):
    
    best_feature = None 
    # l'errore e' sempre <= 1 quindi possiamo inizializzarlo con qualcosa piu' grande di 1
    best_error = 10         
    
    # iteriamo su ogni feature per considerare lo split su quella feature 
    for feature in features:
        #  nel left_split memorizziamo tutti i data point dove il valore della feature e' 0
        left_split = data[data[feature] == 0]
        
        # nel right split memorizziamo tutti i data point dove il valore della feature e' 1
        right_split =  data[data[feature] == 1]
        
        # calcoliamo il numero di errori nel left_split utilizzando la funzione node_num_mistakes
        left_mistakes = node_num_mistakes(left_split['Survived'])            
        # calcoliamo il numero di errori nel right_split
        right_mistakes = node_num_mistakes(right_split['Survived'])     
        
        # calcola il classification error
        # Error = (#  errori (left) + # errori (right)) / (# of data points)
        error = float(left_mistakes + right_mistakes) / len(data)
        
        # Se e' il miglior errore, fai aggiornamento
        if error < best_error:
            best_feature, best_error = feature, error
            
    return best_feature

## Building the tree

Costruiamo il decision tree. Ogni nodo del decision tree è rappresentato da un dizionario che contiene 

    { 
       'is_leaf'            : True/False.
       'prediction'         : Predizione al nodo foglia.
       'left'               : (dizionario corrispondente all'albero sinistro).
       'right'              : (dizionario corrispondente all'albero destro).
       'splitting_feature'  : La feature che questo nodo splitta.
    }

In [259]:
def create_leaf(target_values):
    
    # Crea un nodo foglia
    leaf = {'splitting_feature' : None,
            'left' : None,
            'right' : None,
            'is_leaf': True    }   
    
    # Conta il numero di data point che sono +1 o -1 
    num_positive = len(target_values[target_values == +1])
    num_negative = len(target_values[target_values == -1])
    
    #  Per il nodo foglia imposta la predizione al majority class
    if num_positive > num_negative:
        leaf['prediction'] = 1       
    else:
        leaf['prediction'] = -1                 
    return leaf

In [260]:
def decision_tree_create(data, features, target, current_depth = 0, max_depth = 10):
    remaining_features = features[:]  #Copia le feature
    
    target_values = data[target]
    print "--------------------------------------------------------------------"
    print "Sottoalbero, profondita' = %s (%s data points)." % (current_depth, len(target_values))
    

    # Stopping condition 1
    #Controlla se ci sono errori al nodo corrente

    if node_num_mistakes(target_values) == 0:  
        print "Stopping condition 1 reached."     
        # Se non ci sono errori al nodo corrente, rendilo una foglia
        return create_leaf(target_values)
    
    # Stopping condition 2 (Controlla se ci sono feature su cui splittare )
    if remaining_features == []:   
        print "Stopping condition 2 reached."    
        # il nodo corrente e' un nodo foglia
        return create_leaf(target_values)    
    
    # max_depth
    if current_depth >= max_depth:  
        print "Raggiunta max depth. Stopping for now."
        # Se e' stata raggiunta la massima profondita', stopping condition
        return create_leaf(target_values)

    #  Trova la migliore feature su cui fare split
    splitting_feature = best_splitting_feature(data, remaining_features, 'Survived')
    # Fai lo split sulla best feature trovata
    left_split = data[data[splitting_feature] == 0]
    right_split = data[data[splitting_feature] == 1]       
    remaining_features.remove(splitting_feature)
    print "Split su %s. (%s, %s)" % (\
                      splitting_feature, len(left_split), len(right_split))
    
    # Crea un nodo foglia se lo split e' perfetto 
    if len(left_split) == len(data):
        print "Crea foglia."
        return create_leaf(left_split[target])
    if len(right_split) == len(data):
        print "Crea foglia"
        return create_leaf(right_split[target])        
    # Ripeti sui sottoalberi destro e sinistro. 
    left_tree = decision_tree_create(left_split, remaining_features, target, current_depth + 1, max_depth)        
    right_tree = decision_tree_create(right_split, remaining_features, target, current_depth + 1, max_depth)        

    return {'is_leaf'          : False, 
            'prediction'       : None,
            'splitting_feature': splitting_feature,
            'left'             : left_tree, 
            'right'            : right_tree}

Funzione ricorsiva per contare i nodi nel tuo albero

In [261]:
def count_nodes(tree):
    if tree['is_leaf']:
        return 1
    return 1 + count_nodes(tree['left']) + count_nodes(tree['right'])

In [262]:
my_decision_tree = decision_tree_create(titanic, features, 'Survived', max_depth = 3)

--------------------------------------------------------------------
Sottoalbero, profondita' = 0 (572 data points).

Split su Sex. (369, 203)
--------------------------------------------------------------------
Sottoalbero, profondita' = 1 (369 data points).

Split su Age. (58, 311)
--------------------------------------------------------------------
Sottoalbero, profondita' = 2 (58 data points).
Split su 3. (15, 43)
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (15 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (43 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 2 (311 data points).

Split su Has_Cabin. (236, 75)
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (236 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (75 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 1 (203 data points).

Split su 3. (120, 83)
--------------------------------------------------------------------
Sottoalbero, profondita' = 2 (120 data points).

Split su Age. (19, 101)
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (19 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (101 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 2 (83 data points).

Split su IsAlone. (38, 45)
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (38 data points).
Raggiunta max depth. Stopping for now.
--------------------------------------------------------------------
Sottoalbero, profondita' = 3 (45 data points).
Raggiunta max depth. Stopping for now.

## Fare predictions

In [263]:
def classify(tree, x, annotate = False):   
    # se il nodo e' una foglia
    if tree['is_leaf']:
        if annotate: 
            print "Alla foglia, predici %s" % tree['prediction']
        return tree['prediction'] 
    else:
        # split on feature.
        split_feature_value = x[tree['splitting_feature']]
        if annotate: 
            print "Split su %s = %s" % (tree['splitting_feature'], split_feature_value)
        if split_feature_value == 0:
            if annotate:
                print 'left split'
            return classify(tree['left'], x, annotate)
        else:
            if annotate:
                print 'right split'
            return classify(tree['right'], x, annotate)

In [264]:
test_data[0]

{'1': 0,
 '2': 1,
 '3': 0,
 'Age': 0,
 'C': 1,
 'Cabin': '',
 'Embarked': 'C',
 'Fare': 30.0708,
 'Has_Cabin': 0,
 'IsAlone': 0,
 'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Parch': 0,
 'PassengerId': 10,
 'Pclass': 2,
 'Q': 0,
 'S': 0,
 'Sex': 1,
 'SibSp': 1,
 'Survived': 1,
 'Ticket': '237736'}

In [265]:
print 'Classe predetta: %s ' % classify(my_decision_tree, test_data[0])

Classe predetta: 1

In [266]:
classify(my_decision_tree, test_data[0], annotate=True)

Split su Sex = 1
right split
Split su 3 = 0
left split
Split su Age = 0
left split
Alla foglia, predici 1

1

### Evaluation

In [267]:
def evaluate_classification_error(tree, data):
    # Fai prediction per ogni riga
    prediction = data.apply(lambda x: classify(tree, x)) 
    
    # Calcola il classification error   
    return (prediction != data['Survived']).sum() / float(len(data))

In [268]:
evaluate_classification_error(my_decision_tree, test_data)

0.19718309859154928

##  Stampa un decision stump

In [269]:
def print_stump(tree, name = 'root'):
    split_name = tree['splitting_feature']
    if split_name is None:
        print "(leaf, label: %s)" % tree['prediction']
        return None
    print '                        %s' % name
    print '         |---------------|----------------|'
    print '         |                                |'
    print '         |                                |'
    print '    [{0} == 0]\t                      [{0} == 1]    '.format(split_name)
    print '         |                                |'
    print '         |                                |'
    print '   (%s)                        (%s)' \
        % (('leaf, label: ' + str(tree['left']['prediction']) if tree['left']['is_leaf'] else 'subtree'),
           ('leaf, label: ' + str(tree['right']['prediction']) if tree['right']['is_leaf'] else 'subtree'))

In [270]:
print_stump(my_decision_tree)

                        root
         |---------------|----------------|
         |                                |
         |                                |
    [Sex == 0]	                      [Sex == 1]
         |                                |
         |                                |
   (subtree)                        (subtree)


### Exploring the intermediate left subtree

* `my_decision_tree['left']` per andare a sinistra 
* `my_decision_tree['right']` per andare a destra

In [271]:
print_stump(my_decision_tree['left'], my_decision_tree['splitting_feature'])

                        Sex
         |---------------|----------------|
         |                                |
         |                                |
    [Age == 0]	                      [Age == 1]
         |                                |
         |                                |
   (subtree)                        (subtree)

Left->Left

In [272]:
print_stump(my_decision_tree['left']['left'], my_decision_tree['left']['splitting_feature'])

                        Age
         |---------------|----------------|
         |                                |
         |                                |
    [3 == 0]	                      [3 == 1]
         |                                |
         |                                |
   (leaf, label: 1)                        (leaf, label: -1)

In [273]:
print_stump(my_decision_tree['left']['right'], my_decision_tree['left']['splitting_feature'])

                        Age
         |---------------|----------------|
         |                                |
         |                                |
    [Has_Cabin == 0]	                      [Has_Cabin == 1]
         |                                |
         |                                |
   (leaf, label: -1)                        (leaf, label: -1)

In [274]:
print_stump(my_decision_tree['right'], my_decision_tree['splitting_feature'])

                        Sex
         |---------------|----------------|
         |                                |
         |                                |
    [3 == 0]	                      [3 == 1]
         |                                |
         |                                |
   (subtree)                        (subtree)

Right->Right

In [275]:
print_stump(my_decision_tree['right']['right'], my_decision_tree['right']['splitting_feature'])

                        3
         |---------------|----------------|
         |                                |
         |                                |
    [IsAlone == 0]	                      [IsAlone == 1]
         |                                |
         |                                |
   (leaf, label: -1)                        (leaf, label: 1)

In [276]:
print_stump(my_decision_tree['right']['left'], my_decision_tree['right']['splitting_feature'])

                        3
         |---------------|----------------|
         |                                |
         |                                |
    [Age == 0]	                      [Age == 1]
         |                                |
         |                                |
   (leaf, label: 1)                        (leaf, label: 1)